@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 255, 255);
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  padding: 25px;
  background-color: whitesmoke;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: rgb(30, 30, 30);
  letter-spacing: 1px;
}

.main {
  padding: 25px;
  width: 100%;
  background-color: white;
}

.intro {
  display: grid;
}

.intro h2 {
  margin: 25px 50px 25px 50px;
  text-align: center;
  font-weight: 200;
  line-height: 1.5;
  text-decoration: underline 2px rgb(102, 51, 153, 0.25);
}

.intro img {
  width: 100%;
}

.collapsible {
  display: flex;
  margin: 15px 0 15px 0;
  width: 100%;
  cursor: pointer;
  background-color: whitesmoke;
  border: 2px solid rgb(102, 51, 153, 0.25);
  border-radius: 5px;
}

.collapsible h2 {
  margin: 0 0 0 10px;
  align-self: center;
  font-size: 14px;
  font-weight: 500;
  color: rgb(30, 30, 30);
  letter-spacing: 1px;
}

.collapsible img {
  margin: 0;
  width: 30px;
}

.active,
.collapsible:hover {
  background-color: rgb(102, 51, 153, 0.15);
  border: 2px solid rgba(74, 7, 141, 0.35);
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.75s ease-out;
  border: 1px dashed rgba(74, 7, 141, 0.35);
  border-radius: 5px;
  background-color: whitesmoke;
}

.content a {
  font-size: 16px;
  font-weight: 300;
  color: rgb(30, 30, 30, 0.9);
}

.content p {
  margin: 5px 0 15px 0;
  font-size: 14px;
  font-weight: 200;
  color: rgb(30, 30, 30, 0.75);
}

.content img {
  width: 18px;
  vertical-align: bottom;
}

.footer {
  display: flex;
  padding: 15px;
  justify-content: center;
  background-color: whitesmoke;
}

.footer a,
h3 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  color: rgb(30, 30, 30);
}

@media (min-width: 720px) {
  .intro {
    display: flex;
  }

  .intro h2 {
    display: flex;
    align-self: center;
  }
}

@media (min-width: 1020px) {
  header {
    padding: 25px 50px 25px 50px;
  }
  .main {
    padding: 25px 50px 25px 50px;
  }

  .intro h2 {
    font-size: 24px;
  }

  .intro img {
    width: 50%;
  }
}

@media (min-width: 1080px) {
  header {
    padding: 25px 75px 25px 75px;
  }
  .main {
    padding: 25px 75px 25px 75px;
  }
  .intro h2 {
    margin: 0 100px 0 100px;
  }
}

@media (min-width: 1280px) {
  header {
    padding: 25px 100px 25px 100px;
  }
  .main {
    padding: 25px 100px 25px 100px;
  }

  .intro h2 {
    margin: 0 150px 0 150px;
    font-size: 28px;
  }
}

@media (min-width: 1475px) {
  header {
    padding: 25px 150px 25px 150px;
  }
  .main {
    padding: 25px 150px 25px 150px;
  }

  .intro h2 {
    margin: 0 200px 0 200px;
  }
}
