@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

/* Global Style */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --maintext: #0a1f45;
  --smoke: whitesmoke;
  --snow: snow;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
  font-weight: 300;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
  font-weight: 200;
  letter-spacing: 1px;
}

h3 {
  font-size: 28px;
  font-weight: 200;
}

h4 {
  font-size: 16px;
  font-weight: 200;
}

h5 {
  font-size: 14px;
  font-weight: 300;
}

h6 {
  font-size: 21px;
  font-weight: 200;
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: var(--maintext);
  background-color: var(--smoke);
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 8vh;
  padding: 30px 30px 30px 30px;
  border-bottom: 2px solid rgb(102, 51, 153, 0.25);
  background-color: var(--snow);
}

header h1,
h6 {
  margin: 0;
}

main {
  padding: 15px 30px 15px 30px;
}

main h2 {
  margin: 50px 25px 75px 25px;
  text-align: center;
}

.questionBlock {
  padding: 15px;
  text-align: center;
  background-color: var(--snow);
  border: 2px solid rgb(102, 51, 153, 0.25);
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.question {
  display: grid;
  margin: 30px;
  font-size: 26px;
  font-weight: 600;
}

.example {
  display: grid;
  margin: 0 25px 0 25px;
  font-size: 16px;
  font-weight: 200;
}

.questionBtn {
  height: 50px;
  font-size: 18px;
  color: var(--snow);
  letter-spacing: 1px;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    rgb(64, 93, 255, 0.75),
    rgb(102, 76, 255, 0.75),
    rgb(173, 46, 255, 0.75)
  );
}

.questionBtn:focus {
  outline: none;
}

.questionBtn:hover {
  background-image: linear-gradient(
    to right,
    rgb(64, 93, 255, 0.85),
    rgb(102, 76, 255, 0.85),
    rgb(173, 46, 255, 0.85)
  );
}

.btnBlock {
  display: grid;
  padding: 5px;
  margin: 30px;
}

.aboutBlock {
  margin: 75px 0 75px 0;
}

.aboutBlock h3 {
  margin: 0;
  text-align: center;
}

.aboutBlock p {
  text-align: justify;
  font-size: 18px;
  font-weight: 300;
}

.infoBlock {
  margin: 0 0 75px 0;
}

.infoBlock h4 {
  margin: 0;
}

.questionsIcon,
.visitsIcon,
.talkingIcon {
  padding: 15px;
  margin: 25px 100px 25px 100px;
  /* question block config */
  text-align: center;
  background-color: var(--snow);
  border: 2px solid rgb(102, 51, 153, 0.25);
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

footer {
  display: flex;
  padding: 15px;
  justify-content: center;
  background-color: var(--snow);
  border: 2px solid rgb(102, 51, 153, 0.25);
}

footer a,
h5 {
  margin: 0;
  padding: 0;
  color: var(--maintext);
}

@media (min-width: 720px) {
  header {
    padding: 30px 60px 30px 60px;
  }
  main {
    padding: 15px 60px 15px 60px;
  }

  main h2 {
    margin: 50px 50px 75px 25px;
    text-align: center;
  }
  .questionBlock {
    margin: 0 60px 0 60px;
  }
  .questionsIcon,
  .visitsIcon,
  .talkingIcon {
    padding: 15px;
    margin: 25px 150px 25px 150px;
  }
}

@media (min-width: 1020px) {
  header {
    padding: 30px 90px 30px 90px;
    justify-content: space-between;
  }
  main {
    padding: 15px 90px 15px 90px;
  }

  main h2 {
    margin: 50px 75px 75px 75px;
    text-align: center;
  }

  .questionBlock {
    margin: 0 90px 0 90px;
  }

  .questionsIcon,
  .visitsIcon,
  .talkingIcon {
    padding: 15px;
    margin: 25px 250px 25px 250px;
  }
}
